! Switch d'accès – Direction


enable
configure terminal

hostname SW-DIRECTION

! Trunk vers Core Switch 
interface range TenGigabitEthernet1/20 - 21
description Trunk vers Core Switch
switchport mode trunk
switchport trunk allowed vlan 30
channel-group 3 mode active
no shutdown
exit

! Port Judith (CEO) 
interface TenGigabitEthernet1/1
description PC Judith - CEO
switchport mode access
switchport access vlan 30
spanning-tree portfast
spanning-tree bpduguard enable
no shutdown
exit

end
write memory
