! Switch d'accès – IT


enable
configure terminal

hostname SW-IT

! Trunk vers Core Switch 
interface range TenGigabitEthernet1/20 - 21
description Trunk vers Core Switch
switchport mode trunk
switchport trunk allowed vlan 10,99
channel-group 1 mode active
no shutdown
exit

! Port Damien
interface TenGigabitEthernet1/1
description PC Damien - IT
switchport mode access
switchport access vlan 10
spanning-tree portfast
spanning-tree bpduguard enable
no shutdown
exit

! Port AP Wi-Fi VLAN 99 
interface TenGigabitEthernet1/2
description Point d'acces Wi-Fi - VLAN 99
switchport mode access
switchport access vlan 99
spanning-tree portfast
no shutdown
exit

end
write memory
