! Switch d'accès – Marketing


enable
configure terminal

hostname SW-MARKETING

! Trunk vers Core Switch 
interface range TenGigabitEthernet1/20 - 21
description Trunk vers Core Switch
switchport mode trunk
switchport trunk allowed vlan 20
channel-group 2 mode active
no shutdown
exit

! Port Zach 
interface TenGigabitEthernet1/1
description PC Zach - Dev Full-Stack
switchport mode access
switchport access vlan 20
spanning-tree portfast
spanning-tree bpduguard enable
no shutdown
exit

! Port Lise 
interface TenGigabitEthernet1/2
description PC Lise - Marketing Digital
switchport mode access
switchport access vlan 20
spanning-tree portfast
spanning-tree bpduguard enable
no shutdown
exit

! --- Port Sebastien 
interface TenGigabitEthernet1/3
description PC Sebastien - UX/UI Designer
switchport mode access
switchport access vlan 20
spanning-tree portfast
spanning-tree bpduguard enable
no shutdown
exit

end
write memory
