! Core Switch 3650 (Backbone)
! Ports trunk vers les switches d'accès

enable
configure terminal

! Trunk vers Switch IT 
interface range TenGigabitEthernet1/1 - 2
description Trunk vers SW-IT
switchport mode trunk
switchport trunk allowed vlan 10,99
channel-group 1 mode active
no shutdown
exit

! Trunk vers Switch Marketing 
interface range TenGigabitEthernet1/3 - 4
description Trunk vers SW-MARKETING
switchport mode trunk
switchport trunk allowed vlan 20
channel-group 2 mode active
no shutdown
exit

! Trunk vers Switch Direction
interface range TenGigabitEthernet1/5 - 6
description Trunk vers SW-DIRECTION
switchport mode trunk
switchport trunk allowed vlan 30
channel-group 3 mode active
no shutdown
exit

end
write memory
