! Core Switch 3650 (Backbon)
! VLANs + SVIs + ACLs étendues nommées


enable
configure terminal

!  VLANs 
vlan 10
name IT
exit

vlan 20
name Marketing
exit

vlan 30
name Direction
exit

vlan 99
name WiFi
exit

!  Routage inter-VLAN 
ip routing

!  SVIs 
interface vlan 10
description Gateway VLAN IT
ip address 192.168.10.1 255.255.255.0
no shutdown
exit

interface vlan 20
description Gateway VLAN Marketing
ip address 192.168.20.1 255.255.255.0
no shutdown
exit

interface vlan 30
description Gateway VLAN Direction
ip address 192.168.30.1 255.255.255.0
no shutdown
exit

interface vlan 99
description Gateway VLAN WiFi Guest
ip address 192.168.99.1 255.255.255.0
no shutdown
exit

! ACLs étendues nommées 
! Bloquer ICMP du VLAN IT vers le VLAN Marketing
ip access-list extended BLOCK_IT_TO_MKT
deny icmp 192.168.10.0 0.0.0.255 192.168.20.0 0.0.0.255
permit ip any any
exit

! Bloquer ICMP du VLAN Marketing vers le VLAN IT
ip access-list extended BLOCK_MKT_TO_IT
deny icmp 192.168.20.0 0.0.0.255 192.168.10.0 0.0.0.255
permit ip any any
exit

! --- Application des ACLs sur les SVIs ---
interface vlan 10
ip access-group BLOCK_IT_TO_MKT out
exit

interface vlan 20
ip access-group BLOCK_MKT_TO_IT out
exit

end
write memory
